<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> +201550302951
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> enmahmoudsalah@outlook.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://twitter.com/Mahmoud98314544">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/mahmoud245salah/">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            
          </div>
        </div>
      </div>
    </div>
  </section>
